- if flash[:error]
  %h2= flash[:error]
%h1 Login
%br
= form_for @user, url: { action: 'create' } do |f|
  Email:
  = f.email_field :email
  %br
  Password:
  = f.password_field :password
  %br
  = f.submit
