%h1 Edit Your Profile
%br
%br
.form
  = form_for @user do |f|
    %b First Name:
    = f.text_field :first_name
    %br
    %b Last Name:
    = f.text_field :last_name
    %br
    %b Email Address:
    = f.text_field :email, style: "width:300px;"
    %br
    = f.submit "Save"
  %a{ href: "#{edit_user_password_path}" } Update Password Instead

.wait-overlay
  %img{ src: '/images/loading.gif' }
