%h1 Edit Your Password
%br
%br
.form
  = form_for @user, url: update_user_password_path, method: :patch do |f|
    Current Password:
    = password_field_tag :old_password
    %br
    New Password:
    = f.password_field :password, required: true, class: 'new-user-pass'
    %br
    Confirm New Password:
    = f.password_field :password_confirmation, required: true, class: 'new-user-pass-conf'
    %br
    = f.submit "Save New Password"
