%h1 Sign up
%br
= form_for @user, url: { action: 'create' } do |f|
  %b First Name:
  = f.text_field :first_name, required: true
  %br
  %b Last Name:
  = f.text_field :last_name, required: true
  %br
  %b Email:
  = f.email_field :email, required: true, pattern: '[^@]+@fedscoop.com', class: 'new-user-email'
  %span.email-valid Email must be a "@fedscoop.com" email.
  %br
  %b Password:
  = f.password_field :password, required: true, class: 'new-user-pass'
  %br
  %b Confirm Password:
  = f.password_field :password_confirmation, required: true, class: 'new-user-pass-conf'
  %span.password-error
  %br
  = f.submit
