.agenda-form
  = label_tag 'time:'
  = text_field_tag "agenda[#{counter}[time]]", (item[:time] if item)
  = label_tag 'title:'
  = text_field_tag "agenda[#{counter}[title]]", (item[:title] if item)
  = label_tag 'speaker:'
  = select_tag "agenda[#{counter}[speaker]]", options_from_collection_for_select(event.speakers, "id", "name", (item[:speaker].id if item)), include_blank: true
  %a.del-agenda-item{ href: '#' } Delete this timeslot
