- agenda_counter = 0
- sponsor_counter = 0
%h1= "Edit " + @event.name
%br
%br
= form_for @event, html: { class: "edit-event-form" } do |f|
  %b Name:
  = f.text_field :name
  %br
  %b Date & Time:
  = f.datetime_select :date
  %br
  %b Location:
  = f.collection_select :venue, Venue.order(:name),:id,:name, selected: @event.venue.id
  Need to add a new venue? Do so <a href="#{new_venue_path}" target="_blank">here</a> first.
  %br
  %b Speakers:
  %br
  .speakers-select
    - num = Speaker.count
    - slice_num = (num / 3) + (num % 3)
    - Speaker.order(:last_name).each_slice(slice_num) do |slice|
      .speaker-column
        - slice.each do |s|
          = check_box_tag "event[speaker_ids][]", s.id, @event.speakers.include?(s)
          = s
          %br
  %div{ style: "clear:both;" }
  %br
  .add-sponsor
    %b Sponsors:
    %br
    %a.add-sponsor-item{ href: '#' } Add sponsorship level
    %br
    - if @event.sponsors.first
      - sponsorships = @event.sponsorships
      - sponsorships.group("level").count.keys.each do |level|
        - sponsors_at_level = @event.sponsorships.where(level: level).inject([]) { |arr,s| arr << s.sponsor }
        = render partial: "sponsor_form", locals: { event: @event, sponsors: sponsors_at_level, level: level, counter: sponsor_counter }
        - sponsor_counter += 1
        %div{ style: "clear:both;" }
    - else
      = render partial: 'sponsor_form', locals: { event: @event, counter: sponsor_counter, level: nil, sponsors: nil }
      - sponsor_counter += 1
      %div{ style: "clear:both;" }
  %div{ style: "clear:both;" }
  %br
  %b Should this event go live?
  = f.check_box :live
  %br
  %b URL for event website:
  = f.text_field :site_url
  %br
  %b URL for Regsistration website:
  = f.text_field :reg_url
  %br
  .add-agenda
    %b Agenda:
    %br
    %a.add-agenda-item Add timeslot
    %br
    - if @event.agenda
      - @event.agenda.each do |item|
        = render partial: "agenda_form", locals: { event: @event, item: item, counter: counter }
        - counter += 1
    - else
      = render partial: "agenda_form", locals: { event: @event, item: nil, counter: counter }
      - counter += 1
  = f.submit
.new-agenda-item{ style: "display:none;" }
  = render partial: "agenda_form", locals: { event: @event, item: nil, counter: counter }
.counter{ style: "display:none;" }
  = counter
