%h1= "Edit " + @event.name
%br
%br
= form_for @event, html: { class: "edit-event-form" } do |f|
  Name:
  = f.text_field :name
  %br
  Date & Time:
  = f.datetime_select :date
  %br
  Location:
  = f.collection_select :venue, Venue.order(:name),:id,:name, selected: @event.venue.id
  Need to add a new venue? Do so <a href="#{new_venue_path}" target="_blank">here</a> first.
  %br
  Speakers:
  %br
  .speakers-select
    - num = Speaker.count
    - slice_num = (num / 3) + (num % 3)
    - Speaker.order(:last_name).each_slice(slice_num) do |slice|
      .speaker-column
        = f.collection_check_boxes(:speaker_ids, slice, :id, :name) do |b|
          .checkbox= b.label { b.check_box + " " + b.text }
  %div{ style: "clear:both;" }
  %br
  / .add-agenda
  /   .agenda-item
  /     = label_tag(:time)
  /     = text_field_tag :time, html:
  = f.submit
