%h1 Edit #{@agency.name}
%br
%img{ src: "#{@agency.photo_url}" }
%br
= form_for @agency do |f|
  Name:
  %br
  = f.submit "Save", onclick: "return confirm('Are you sure you want to make these changes to #{@agency.name}?')"
