%h1 Edit #{@sponsor.name}
%br
%br
.form
  = form_for @sponsor, html: { id: "edit-sponsor-form" } do |f|
    Name:
    = f.text_field :name, required: true
    %br
    Image:
    %span{ style: 'color:red;' } PLEASE MAKE SURE IMAGE IS SQUARE.
    %br
    If it isn't already square, it will be cropped to make it square automatically and may not look good.
    %br
    Also make sure it is as high resolution as possible.
    %br
    = f.file_field :photo
    %br
    = f.submit "Save", onclick: "return confirm('Are you sure you want to make these changes to #{@sponsor.name}?')"

.wait-overlay
  %img{ src: '/images/loading.gif' }
