%h1 Edit #{@speaker.name}
%br
.form
  %img{ src: "#{@speaker.photo.url :medium}", width: '200', height: '200' }
  %br
  = form_for @speaker, html: { id: 'edit-speaker-form' } do |f|
    %b First Name:
    = f.text_field :first_name
    %br
    %b Last Name:
    = f.text_field :last_name
    %br
    %b Job Title:&nbsp&nbsp&nbsp&nbsp
    = f.text_field :job_title, style: "width: 300px;"
    %br
    %b Employer:
    = f.collection_select :employer, Agency.order(:name),:id,:name, selected: @speaker.employer.id
    %br
    %b Bio:
    %br
    = f.text_area :bio, {rows: "5", cols: "50"}
    %br
    %b Image:
    %span{ style: 'color:red;' } PLEASE MAKE SURE IMAGE IS SQUARE.
    %br
    If it isn't already square, it will be cropped to make it square automatically and may not look good.
    %br
    Also make sure it is as high resolution as possible.
    %br
    = f.file_field :photo
    %br
    %b Remove photo?
    = check_box_tag :remove_photo
    %br
    %b Work for the Government?
    = f.check_box :govie
    %br
    = f.submit "Save", onclick: "return confirm('Are you sure you want to make these changes to #{@speaker.name}?')"

.wait-overlay
  %img{ src: '/images/loading.gif' }
