%h1 New Speaker
%br
.form
  = form_for @speaker, html: { id: 'new-speaker-form' } do |f|
    %b First Name:
    = f.text_field :first_name, required: true
    %br
    %b Last Name:
    = f.text_field :last_name, required: true
    %br
    %b Job Title:&nbsp&nbsp&nbsp&nbsp
    = f.text_field :job_title, required: true, style: "width: 300px;"
    %br
    %b Employer:
    = f.collection_select :employer, Agency.order(:name),:id,:name
    / %br
    Need to add a new Employer?
    %a{ href: "#{new_agency_path}", target: "_blank" } Click here
    %br
    %b Bio:
    %br
    = f.text_area :bio, {rows: "5", cols: "50", required: true}
    %br
    %b Image:
    %span{ style: 'color:red;' } PLEASE MAKE SURE IMAGE IS SQUARE.
    %br
    If it isn't already square, it will be cropped to make it square automatically and may not look good.
    %br
    Also make sure it is as high resolution as possible.
    %br
    = f.file_field :photo
    %br
    %b Work for the Government?
    = f.check_box :govie
    %br
    = f.submit "Submit"

.wait-overlay
  %img{ src: '/images/loading.gif' }
